.work
out
*.zst

# non bloated
tealinux-installer/src/*
tealinux-installer/tealinux-installer/*
tealinux-installer/pkg/*

tealinux-modularitea/pkg/*
tealinux-modularitea/src/*
tealinux-modularitea/tealinux-modularity/*

# ignore webkit2gtk issue
localrepo/localrepo.db.tar.xz
localrepo/localrepo.files.tar.xz
localrepo/localrepo.db
localrepo/localrepo.files