[Desktop Entry]
Name=Tealinux Modularitea
Categories=Development
Exec=/usr/bin/tealinux-modularity
Icon=/usr/share/icons/tealinux_modularitea.png
Terminal=false
Type=Application
Comment=
Path=
StartupNotify=false